{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'carousel/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'carousel/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'carousel/js/bootstrap.bundle.min.js' %}">
    <link rel="stylesheet" href="{% static 'carousel/js/carousel.js' %}">

</head>


<body>
<header>
    <p>тест</p>
    {% for el in data %}
    <p>{{ el.name }} - {{ el.picture }}</p>
    <img src='{{el.picture.url}}' style='max-height: 90px;'>

    {% endfor %}
    {{ data.as_p }}
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
</footer>
</body>
</html>